{% form_theme serieForm 'views/theme/form_theme_html.twig' %}

<h2>{% block h2 %}</h2> {% endblock %}

{{ form_start(serieForm) }}
{{ form_widget(serieForm) }}
<button>{% block buttonLabel %} {% endblock %}</button>
{{ form_end(serieForm) }}