<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_test') }}">Test</a></li>
        <li><a href="{{ path('serie_list') }}">List of Series</a></li>
        <li><a href="{{ path('serie_add') }}">Ajouter une série</a></li>

    </ul>
</nav>
